---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: 新規登録
description: 新規登録
url: https://ohenro.online/ja/signup/
---
<section class="sign-up">
  {% import "_components/_section-heading-my-page.njk" as title %}
  {% import "_components/_form/_form-field-text.njk" as forms %}
  <div>
  <div class="sign-up__inner">
    <div class="sign-up__title">
      {{title.sectionHeading("test")}}
    </div>

          {# メールアドレス #}
      {{ forms.formInput("メールアドレス", "user-email", "Your Email") }}
  </div>
  </div>
</section>
