@use './variables' as *;
@use 'sass:math';

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $gutter;
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@function fluid($min, $max, $min-vw: 375, $max-vw: 1200) {
  $slope: math.div($max - $min, $max-vw - $min-vw);
  $base: $min - $slope * $min-vw;

  @return clamp(#{rem($min)}, #{math.div($base, 16)}rem + #{$slope * 100}vw, #{rem($max)});
}
