@use './variables' as *;
@use 'sass:math';

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $gutter;
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fluid($min, $max) {
  font-size: clamp(rem($min), 2vw, rem($max));
}
