// Colors
$color-text: #222;
$color-bg: #fff;
$color-primary: #9F1627;
$color-accent: #c00;
$color-key: #D3992C;

// Layout
$container-width: 1200px;
$gutter: 16px;

// Typography
$font-base: 'Noto Sans JP', sans-serif;
$font-en: 'Inter', sans-serif;
$base-font-size: 16;
