{% macro passwordField(label, id, placeholder="Password", type="password", required=false, error=false, info=true) %}
<div class="password-field js-password-container">
  <label for="{{ id }}" class="password-field__label {% if required %}is-required{% endif %}">{{ label }}</label>
  <div class="password-field__inner">
    <input 
      type="{{ type }}" 
      id="{{ id }}" 
      name="{{ id }}" 
      placeholder="{{ placeholder }}" 
      class="password-field__input js-password-input {% if error %}is-error{% endif %}"
    >
    <button type="button" class="password-field__switch js-password-toggle" aria-label="パスワードを表示する">
      {# 目のアイコン（SVG） #}
      <img src="/assets/images/icons/icon-pasword-on.svg" alt="パスワード表示する" />
    </button>
    <!-- エラー文言 -->
      <p class="password-field__conditions {% if not info %}is-hidden{% endif %}">半角英数字8文字以上</p>
      <div class="error {% if error %}is-error-message{% endif %}">
        <div class="error-message">
          <p class="error-message__text">半角英数字8文字以上で入力してください</p>
        </div>
      </div>
  </div>
</div>
{% endmacro %}