{% macro formInput(label, id, placeholder="Your Email", type="email") %}
<div class="text-fiedl">
  <label for="{{ id }}" class="text-fiedl__label">{{ label }}</label>
  <input 
    type="{{ type }}" 
    id="{{ id }}" 
    name="{{ id }}" 
    placeholder="{{ placeholder }}" 
    class="text-fiedl__input"
  >
</div>
{% endmacro %}