{% from "_components/_lang-switcher.njk" import LangSwitcher %}
{% from "_components/_button-small.njk" import buttonPill %}
<header class="my-page-header">
  <div class="my-page-header__logo">
    <figure class="my-page-header__logo-figure">
      <img
        src="/assets/images/common/ohenro-logo.webp"
        class="my-page-header__logo-image"
        alt="88お遍路さん"
      />
    </figure>
  </div>


  <nav class="my-page-header__nav">
    <!-- desktopNav -->
    <div class="my-page-header__nav-desktop">
      {% include "_layout/_header/_nav-my-page-desktop.njk" %}
    </div>
    <!-- mobileNav -->
    <div class="my-page-header__nav-mobile">
      {% include "_layout/_header/_nav-my-page-mobile.njk" %}
    </div>
  </nav>
</header>
