{% from "_components/_lang-switcher.njk" import LangSwitcher %}
{% from "_components/_button-small.njk" import buttonPill %}
<header class="my-page-header">
  <div class="my-page-header__logo">
    <figure class="my-page-header__logo-figure">
      <img
        src="/assets/images/common/ohenro-logo.webp"
        class="my-page-header__logo-image"
        alt="88お遍路さん"
      />
    </figure>
  </div>
  <nav class="my-page-header__nav">
    <div class="my-page-header__controls">
      <ul class="my-page-header__controls-list">
        <li class="my-page-header__controls-item">{{ LangSwitcher(lang) }}</li>
        <li class="my-page-header__controls-item">
          <a class="my-page-header__controls-link" href="/{{ lang }}/logout/">
             <img src="/assets/images/icons/icon-logout.svg" alt="logout" />ログアウト
          </a>
        </li>
      </ul>
    </div>
    {% set navItems = [
      { link: "/" + lang + "/my-page/", label: t.headerUser.home, icon: "/assets/images/icons/icon-home.svg" },
      { link: "/" + lang + "/favorite/", label: t.headerUser.favorite, icon: "/assets/images/icons/icon-favorite.svg" },
      { link: "/" + lang + "/history/", label: t.headerUser.history, icon: "/assets/images/icons/icon-history.svg" }
    ] %}
    <ul class="my-page-header__nav-list">
      {% for item in navItems %}
      <li class="my-page-header__nav-item">
		    <a class="my-page-header__nav-link" href="{{ item.link }}">
          <img src="{{ item.icon }}" alt="{{ imte.label }}" />{{ item.label }}
		    </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
