
<header class="my-page-header">
  <div class="my-page-header__logo">
    <a href="/my-paege">
      <figure class="my-page-header__logo-figure">
        <img
          src="/assets/images/common/ohenro-logo.webp"
          class="my-page-header__logo-image"
          alt="88お遍路さん"
        />
      </figure>
    </a>
  </div>


  <nav class="my-page-header__nav">
    <!-- desktopNav -->
    <div class="my-page-header__nav-desktop">
      {% include "_layout/_header/_nav-my-page-desktop.njk" %}
    </div>
    <!-- mobileNav -->
    <div class="my-page-header__nav-mobile">
      {% include "_layout/_header/_nav-my-page-mobile.njk" %}
    </div>
  </nav>
</header>
