{% from "_components/_lang-switcher.njk" import LangSwitcher %}
{% from "_components/_button-small.njk" import buttonPill %}
<div class="nav-desktop__controls">
  <ul class="nav-desktop__controls-list">
    <li class="nav-desktop__controls-item">{{ LangSwitcher(lang, locate[lang], page.url | replace('/' + lang, '')) }}</li>
    <li class="nav-desktop__controls-item">
      <a class="nav-desktop__controls-link" href="/{{ lang }}/signup/">
          <img src="/assets/images/icons/icon-logout.svg" alt="logout" />{{ t.headerPublic.auth}}
      </a>
    </li>
  </ul>
</div>
<!-- ナビ -->
{% set navItems = [
  { link: "/" + lang + "/zen-ohenro/", label: t.headerPublic.zen },
  { link: "/" + lang + "/temples/", label: t.headerPublic.temples },
  { link: "/" + lang + "/guide/", label: t.headerPublic.basic },
  { link: "/" + lang + "/special/", label: t.headerPublic.special },
  { link: "/" + lang + "/news/", label: t.headerPublic.news },
  { link: "/" + lang + "/glossary/", label: t.headerPublic.glossary }
] %}
<ul class="nav-desktop__nav-list">
  {% for item in navItems %}
  <li class="nav-desktop__nav-item is-public">
    <a class="nav-desktop__nav-link" href="{{ item.link }}">
      {{ item.label }}
    </a>
  </li>
  {% endfor %}
</ul>