{% from "_components/_lang-switcher.njk" import LangSwitcher %}
{% from "_components/_button-small.njk" import buttonPill %}
{% import "_components/_button-big.njk" as buttons %}
{% from "_components/_lang-switcher.njk" import LangSwitcher %}

<div class="nav-mobile__controls">
  <ul class="nav-mobile__controls-list">
    <li class="nav-mobile__controls-item">{{ LangSwitcher(lang, locate[lang], page.url | replace('/' + lang, '')) }}</li>
    <li class="nav-mobile__controls-item">
      <button class="nav-mobile__hamburger js-drawer-toggle" aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </li>
  </ul>
</div>
<div id="mobile-drawer" class="nav-mobile__drawer js-drawer">
  <div class="nav-mobile__panel">
    <div class="nav-mobile__heading">
      <a href="/my-paege">
        <figure class="nav-mobile__logo">
          <img
            src="/assets/images/common/ohenro-logo.webp"
            class="nav-mobile__logo-image"
            alt="88お遍路さん"
          />
        </figure>
      </a>
      <button class="nav-mobile__close js-drawer-toggle" aria-label="close">×</button>
    </div>
    
    <div class="nav-mobile__log-out">
      {{ buttons.primaryButton(t.headerUser.auth,"submit","","",true) }}
    </div>

    <!-- ナビ -->
    {% set navItems = [
      { link: "/" + lang + "/my-page/", label: t.headerUser.home, icon: "/assets/images/icons/icon-home.svg" },
      { link: "/" + lang + "/favorite/", label: t.headerUser.favorite, icon: "/assets/images/icons/icon-favorite.svg" },
      { link: "/" + lang + "/history/", label: t.headerUser.history, icon: "/assets/images/icons/icon-history.svg" }
    ] %}
    <ul class="nav-mobile__nav-list">
      {% for item in navItems %}
      <li class="nav-mobile__nav-item">
        <a class="nav-mobile__nav-link" href="{{ item.link }}">
          <span>{{ item.label }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="nav-mobile__langrge">
      {{ LangSwitcher(lang,locate[lang],page.url | replace('/' + lang, ''),"drawer") }}
    </div>
  </div>
</div>