{% set favoriteItems = [
  { label: "徳島県", link: "/ja/my-page/favorite-tokushima/", class: "is-tokushima" },
  { label: "高知県", link: "/ja/my-page/favorite-kochi/", class: "is-kochi" },
  { label: "愛媛県", link: "/ja/my-page/favorite-aichi/", class: "is-aichi" },
  { label: "香川県", link: "/ja/my-page/favorite-kagawa/", class: "is-kagawa" }
] %}
<div class="favorite">
  <ul class="favorite__list">
    {% for item in favoriteItems %}
    <li class="favorite__item">
      <a class="favorite__link {{item.class}}" href="{{item.link}}">{{item.label}}</a>
    </li>
    {% endfor %}
  </ul>
</div>