<section class="my-page-news">
  <ul class="my-page-news__list">
    <li class="my-page-news__item">
      <a class="my-page-news__link" href="/">
        <dl class="my-page-news__date">2026/01/23 </dl>
        <dd class="my-page-news__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
  なぜそんな無闇をしたと聞く人があるかも知れ</dd>
      </a>
    </li>
    <li class="my-page-news__item">
      <a class="my-page-news__link" href="/">
        <dl class="my-page-news__date">2026/01/23 </dl>
        <dd class="my-page-news__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
  なぜそんな無闇をしたと聞く人があるかも知れ</dd>
      </a>
    </li>
    <li class="my-page-news__item">
      <a class="my-page-news__link" href="/">
        <dl class="my-page-news__date">2026/01/23 </dl>
        <dd class="my-page-news__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
  なぜそんな無闇をしたと聞く人があるかも知れ</dd>
      </a>
    </li>        
  </ul>
</section>