---
lang: ja
layout: _layout/_base.njk
headerType: my-page
footerType: user
title: マイページ
description: マイページ
url: https://ohenro.online/ja/my-page/
---
{% import "_components/_page-title.njk" as title %}
{% import "_components/_breadcrumbs.njk" as breadcrumbs %}
<section>
	<div class="auth-page-heading">
		<div class="auth-page-heading__title">
			<span>{{ title.pageTitle("会員情報登録") }}</span>
		</div>
		<div class="auth-page-heading__breadcrumbs">
			{{breadcrumbs.breadcrumbs("新規会員登録", "ja")}}
		</div>
	</div>
</section>