---
lang: ja
layout: _layout/_base.njk
headerType: user
title: 日本語トップ
description: マイページ
url: https://ohenro.online/ja/my-page/
---

{# ヘッダーの読み込み #}
<section class="hero">
  <h1>四国お遍路ポーっsタル</h1>
  <p>巡礼の旅へようこそ</p>
</section>
