---
lang: ja
layout: _layout/_base.njk
headerType: my-page
footerType: user
title: マイページ
description: 会員専用のマイページ画面です。
url: https://ohenro.online/ja/my-page/
---
{% import "_components/_page-title-main.njk" as title %}
{% from "_components/_breadcrumbs.njk" import breadcrumbs %}

<div class="my-page">
	<div class="page-heading">
		<div class="page-heading__title">
			<span>{{ title.pageTitle("マイページ") }}</span>
		</div>
		<div class="page-heading__breadcrumbs">
			{{ breadcrumbs([{ label: "マイページ" }], lang) }}
		</div>
	</div>

  <div class="auth-completion is-no-margin">
    <div class="my-page__inner">
      <section class="my-page__news">
        <h2 class="page-title-small">お知らせ</h2>
        <div class="my-page__news-list">
          {% include "./_IndexNews.njk" %}
        </div>
      </section>

      <div class="my-page__contet">
        <section class="my-page__member">
          <h2 class="page-title-small">会員情報</h2>
          <div class="my-page__member-inner">
          {% include "./_IndexMember.njk" %}
          </div>
        </section>

        <section class="my-page__favorite">
          <h2 class="page-title-small">お気に入り札所</h2>
          {% include "./_IndexFavorite.njk" %}
        </section>
      </div>
    </div>
</div>
</div>