---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: パスワードを更新しました
description: パスワードを更新しました
url: https://ohenro.online/ja/password-reset/complete/
---
{% import "_components/_auth-title.njk" as title %}
{% import "_components/_button-big.njk" as primary %}
<section class="complete">
  <div class="auth-completion">
    <div class="auth-completion__inner">
      <div class="auth-completion__title">
        {{title.authTitle("パスワードを更新しました")}}
        <p class="auth-completion__title-description">引き続きOHENRO.ONLINEをお楽しみください。</p>
      </div>
      <form class="auth-completion__form">
        <div class="auth-completion__buttons is-single-button">
        {{ primary.primaryButton("ログイン", "link", "/ja/my-page/") }} 
      </div>
      </form>
    </div>
  </div>
</section>