---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: 新しいパスワード設定
description: 新しいパスワード設定
url: https://ohenro.online/ja/password-reset/new
---
<section class="resetting">
  {% import "_components/_page-title.njk" as title %}
  {% import "_components/_form/_form-field-password.njk" as passForms %}
  {% import "_components/_button-big.njk" as primary %}
  {% import "_components/_button-normal.njk" as normal %}
  <div class="auth-completion">
    <div class="auth-completion__inner">
      <div class="auth-completion__title">
        {{title.pageTitle("新しいパスワードを設定")}}
      </div>
      <form class="auth-completion__form">
        {{ passForms.passwordField("新しいパスワード", "password", "Password", "password", true, true) }}
        {{ passForms.passwordField("新しいパスワード（再入力）", "password", "Password", "password", true, false, false) }}
        <div class="auth-completion__buttons is-single-button">
        {{ primary.primaryButton("送信", "submit", "/ja/password-reset/complete/") }}
      </div>
      </form>
    </div>
  </div>
</section>
