---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: 新規会員登録
description: ohenro.onlineの会員登録にあたり、メールアドレスを入力してください。
url: https://ohenro.online/ja/signup/
---
<section class="signup">
  {% import "_components/_page-title.njk" as title %}
  {% import "_components/_form/_form-field-text.njk" as forms %}
  {% import "_components/_button-big.njk" as primary %}
  {% import "_components/_button-normal.njk" as normal %}
  <div class="auth-completion">
    <div class="auth-completion__inner">
      <div class="auth-completion__title">
        {{title.pageTitle("新規会員登録")}}
        <p class="auth-completion__title-description">メールアドレスを入力してください</p>
      </div>
      <form class="auth-completion__form">
        {{ forms.formInput("メールアドレス", "email", "Your Email") }}
        <div class="auth-completion__buttons">
        {{ normal.normalButton("キャンセル", "link", "/" + lang + "/login/") }}
        {{ primary.primaryButton("送信", "submit", "/my-page/") }} 
      </div>
      </form>
    </div>
  </div>
</section>
