---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: 会員情報登録
description: 会員情報を入力してください。
url: https://ohenro.online/ja/form/
---
{% import "_components/_page-title-main.njk" as title %}
{% from "_components/_breadcrumbs.njk" import breadcrumbs %}
{% import "_components/_form/_form-field-text.njk" as forms %}
{% import "_components/_form/_form-field-password.njk" as passForms %}
{% import "_components/_form/_form-questionnaire.njk" as questionnaire %}
{% set s = locate[lang].form.survey %}
{% import "_components/_form/_form-radio.njk" as radio %}
{% import "_components/_form/_form-check-box.njk" as checkBox %}
{% import "_components/_button-big.njk" as primary %}
<section class="registration">
	<div class="auth-page-heading">
		<div class="auth-page-heading__title">
			<span>{{ title.pageTitle("会員情報登録") }}</span>
		</div>
		<div class="auth-page-heading__breadcrumbs">
      {{ breadcrumbs([{ label: "会員情報登録" }], lang) }}
		</div>
	</div>

	<div class="auth-completion is-no-margin">
		<div class="registration__title">
			<h3 class="registration__title-text">新規会員情報登録</h3>
			<p class="registration__title-descrption">ご登録いただいた情報は、会員サービスの提供および各種ご案内のために使用いたします。内容をご確認のうえ、必要情報を入力いただき次の画面へお進みください。</p>
			<span class="note">※ 必須項目はすべてご入力ください。</span>
		</div>		
		
		<div class="auth-completion__inner">
			<form class="auth-completion__form">
				{{ forms.formInput("メールアドレス", "email", "Your Email", "text", true, true) }}
				{{ passForms.passwordField("パスワード", "password", "Password", "text", true, true) }}
				{{ forms.formInput("名", "firstName", "太郎", "text", true) }}
				{{ forms.formInput("姓", "lastName", "御遍路", "text", true) }}
				{{ forms.formInput("メイ", "firstNameKana", "タロウ", "text", true) }}
				{{ forms.formInput("セイ", "lastNameKana", "オヘンロ", "text", true) }}
				{{ radio.formRadio("年代","age",[{ label: "18〜29", value: "18〜29" },{ label: "30〜39", value: "30-39" },{ label: "40〜49", value: "40-49" },{ label: "50〜59", value: "50〜59" },{ label: "60〜69", value: "60〜69" },{ label: "60〜69", value: "70 and above" }],"70 and above",true) }}				
				<div class="auth-completion__questionnaire">
					<p>アンケートにご協力ください。※必須項目ではありません。</p>
					<details class="accordion" open>
						<summary class="accordion__summary">
							アンケート
						</summary>
						<div class="accordion__content">
							{{ questionnaire.selectField(s.q1, "q1") }}
							{{ questionnaire.selectField(s.q2, "q2") }}
							{{ questionnaire.selectField(s.q3, "q3") }}
							{{ questionnaire.selectField(s.q4, "q4") }}
							{{ questionnaire.selectField(s.q5, "q5") }}
							{{ questionnaire.selectField(s.q6, "q6") }}
							{{ questionnaire.textareaField(s.q7, "q7") }}
						</div>
					</details>
				</div>

        <div class="auth-completion__subscription">
          <div class="auth-completion__subscription-heading">
            <p class="auth-completion__subscription-text"><b>当サイトからのお知らせ・メールマガジンの配信に同意します。</b></p>
            <p class="auth-completion__subscription-text">会員登録後、当サイトからお知らせや最新情報をメールマガジンとしてお届けする場合があります。配信の停止は、マイページよりいつでも行えます。</p>
          </div>
          <div class="auth-completion__subscription-radio">
            {{ radio.formRadio("","subscribe",[{ label: "購読する", value: "subscribe" },{ label: "購読しない", value: "unsubscribe" }], "subscribe") }}
          </div>
        </div>

        <div class="auth-completion__policy">
          <p class="auth-completion__policy-text"><a href="/ja/privacy">個人情報保護ポリシー</a> をご確認の上、「同意する」にチェックしてください。</p>
          <div class="auth-completion__policy-check">
          {{ checkBox.formCheck("同意する", "consent", "consent",true) }}
          </div>
        </div>
	
				<div class="auth-completion__buttons is-single-button">
				{{ primary.primaryButton("確認する", "submit", "/confirm/") }}
			</div>
			</form>
		</div>
	</div>
</section>