---
lang: ja
layout: _layout/_base.njk
headerType: my-page
footerType: user
title: 配信設定完了
description: メールマガジンの配信設定を更新しました。
url: https://ohenro.online/ja/my-page/subscribe-edit/complete/
---
{% import "_components/_page-title.njk" as title %}
{% import "_components/_button-big.njk" as primary %}
<section class="profile-edit-complete">
  <div class="auth-completion">
    <div class="auth-completion__inner">
      <div class="auth-completion__title">
        {{title.pageTitle("メールマガジンの購読設定が完了しました。")}}
      </div>
      <form class="auth-completion__form">
        <div class="auth-completion__buttons is-single-button">
        {{ primary.primaryButton("マイページへ", "link", "/ja/my-page/") }} 
      </div>
      </form>
    </div>
  </div>
</section>