{% from "_components/_small-title.njk" import smallTitle %}
<div class="interview">
  <div class="interview__title-design">
    <span class="title-mark">Welcoming inn</span>
  </div>
  <div class="interview__wrapper">
    <div class="interview__inner">
      <div class="interview__title">
        <h2 class="interview__title-text">
          <span class="page-title-main__text">旅館インタビュー</span>
        </h2>
        <p class="interview__title-description">周辺旅館のインタビュー記事です。</p>
      </div>
      <ul class="interview__list">
        <li class="interview__item">
          <a class="interview__link" href="/">
            <figure class="interview__figure">
              <img class="interview__image" src="/assets/images/temple/interview-inn.jpg" alt="旅館名" />
            </figure>
            <div class="interview__inn">
              <div class="about__yohanesu-title">{{ smallTitle("枕流亭 おもご旅館") }}</div>
              <p class="interview__inn-description">明治から続く、日本建築のさまざまな時代に思いを馳せて</p>
            </div>
          </a>
        </li>
        <li class="interview__item">
          <a class="interview__link" href="/">
            <figure class="interview__figure">
              <img class="interview__image" src="/assets/images/temple/interview-inn.jpg" alt="旅館名" />
            </figure>
            <div class="interview__inn">
              <div class="about__yohanesu-title">{{ smallTitle("枕流亭 おもご旅館") }}</div>
              <p class="interview__inn-description">明治から続く、日本建築のさまざまな時代に思いを馳せて</p>
            </div>
          </a>
        </li> 
        <li class="interview__item">
          <a class="interview__link" href="/">
            <figure class="interview__figure">
              <img class="interview__image" src="/assets/images/temple/interview-inn.jpg" alt="旅館名" />
            </figure>
            <div class="interview__inn">
              <div class="about__yohanesu-title">{{ smallTitle("枕流亭 おもご旅館") }}</div>
              <p class="interview__inn-description">明治から続く、日本建築のさまざまな時代に思いを馳せて</p>
            </div>
          </a>          
        </li>     
      </ul>
    </div>
  </div>
</div>