{% from "_components/_small-title.njk" import smallTitle %}
<div class="about">
  <div class="about__title">
    <span class="title-mark">About</span>
  </div>
  
  <div class="about__wrapper">     
    <div class="about__inner">
      <div class="about__description">
        <p class="about__description-text">徳島県鳴門市にある四国遍路1200kmの出発点です。重厚な山門と仁王像が参拝者を迎え、本堂には無数の吊り灯籠が輝き、幻想的な空間を演出します。池に浮かぶ大師堂や、約600年前建立の多宝塔が静かに佇み、祈りと癒やしのひとときを与えてくれる、心を整える特別な寺院です。</p>
      </div>
      <figure class="about__temple-bg">
        <img src="/assets/images/common/temple-bg.png" />
      </figure>        
      {% set aboutItems = [
        { label: "創建", text: "729-749" },
        { label: "宗派", text: "高野山真言宗" },
        { label: "開基", text: "行基菩薩" },
        { label: "本尊", text: "釈迦如来" },
        { label: "宗派", text: "のうまく さんまんだ ぼだなん ばく" }
      ] %}
      <ul class="about__list">
        {% for item in aboutItems %}
        <li class="about__item">    
          <dl class="about__item-inner">
            <dt class="about__label">{{ item.label }}</dt>
            <dd class="about__text">{{ item.text}}</dd>
          </dl>
        </li>
        {% endfor %}
      </ul>
      <div class="about__yohanesu">
        <div class="about__yohanesu-comment">
          <div class="about__yohanesu-title">{{ smallTitle("ヨハネスコメント") }}</div>
          <p class="about__yohanesu-description">本堂へ進む前に、左手にある不動明王堂にもぜひお参りを。意外と見落とされがちですが、静かで印象深いお堂です。装備は事前にしっかりと整え、長く手元に残るお気に入りの納経帳を選ぶと、巡礼の思い出がより深まります。第2番札所へは、遍路ハウスを経由するルートがおすすめ。交通量の多い幹線道路を避け、落ち着いて歩くことができます。初日に備えて前日は周辺に宿泊し、身体を慣らしておくと安心です。</p>
        </div>
        <div class="about__yohanesu-info">
          <h3 class="about__yohanesu-info-title">ヨハネスとは</h3>
          <p class="about__yohanesu-info-description">旅をするのが好きで、時間があれば各地を歩いている。なかでも四国遍路に詳しく、札所や道中の話を楽しそうに語る。人と話すのが好きで、出会いを大切にしている。</p>
        </div>
      </div>
    </div>
  </div>
</div>