<div class="next">
  <dl class="next__list">
    <dt class="next__temple">
      <span class="next__temple-next">次の札所は、徒歩で約1km</span>
      <span class="next__temple-name">第二番 極楽寺</span>
    </dt>
    <dd class="next__temple-descrption">本堂には弘法大師作と伝わる本尊と、光の伝説が残ります。</dd>
  </dl>
</div>