---
lang: ja
layout: _layout/_base.njk
headerType: public
footerType: user
title: 八十八ヶ所 札所情報
description: 四国八十八ヶ所、第一番札所から第八十八番札所までの基本情報を一覧で掲載しています。各札所の名称、所在地、本尊などの情報を整理して紹介しており、巡礼ルートの計画を立てる際のガイドとして役立ちます。効率的なお遍路の旅をサポートする情報源です。
url: https://ohenro.online/ja/temples/
---
{% import "_components/_page-title-main.njk" as title %}
{% from "_components/_breadcrumbs.njk" import breadcrumbs %}

<div>
  <div class="page-heading">
		<div class="page-heading__title">
			<span>{{ title.pageTitle("八十八ヶ所 札所情報", "", "88 Temples") }}</span>
		</div>
		<div class="page-heading__breadcrumbs">
			{{ breadcrumbs([{ label: "八十八ヶ所 札所情報" }], lang) }}
		</div>
	</div>
</div>