---
lang: ja
layout: _layout/_base.njk
headerType: public
footerType: public
title: 第１番 霊山寺
description: 第１番霊山寺は、重厚な山門と仁王像が参拝者を迎え、本堂には無数の吊り灯籠が輝き、幻想的な空間を演出します。池に浮かぶ大師堂や、約600年前建立の多宝塔が静かに佇み、祈りと癒やしのひとときを与えてくれる、心を整える特別な寺院です。
url: https://ohenro.online/ja/temples/temple
---

<div class="temple">

</div>