@use '../foundation' as *;

.bubble {
  position: relative;
  display: inline-block;
  display: grid;
  justify-items: center;
  max-width: 410px;
  padding: 16px 16px 0;
  margin: 0 auto 26px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px #777;

  &::before {
    position: absolute;
    bottom: -28px;
    left: 50%;
    content: '';
    border-color: #777 transparent transparent;
    border-style: solid;
    border-width: 26px 20px 0;
    opacity: 0.4;
    filter: blur(4px);
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    bottom: -22px;
    left: 50%;
    content: '';
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 26px 20px 0;
    transform: translateX(-50%);
  }

  // .bubble__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .bubble__laps

  &__laps {
    font-size: rem(21);
    font-weight: bold;
  }

  // .bubble__title

  &__title {
    font-size: rem(21);
    font-weight: bold;
  }

  // .bubble__temple

  &__temple {
    // .bubble__temple-number
    &-number {
      font-size: rem(60);
      color: $color-primary;

      @include font-futura;
    }

    // .bubble__temple-text
    &-text {
      font-size: rem(24);
      font-weight: bold;
    }
  }
}
