@use '../foundation/variables' as *;

.button-primary {
  background: $color-primary;

  // .button-primary__button

  &__button {
    // .button-primary__button
  }

  // .button-primary__button-text

  &__button-text {
    font-size: $button-font-size;
    color: $color-white;
  }
}
