@use '../foundation/variables' as *;
@use '../foundation/breakpoints' as *;

.button-primary {
  // .button-primary__button

  &__button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 23px 8px;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50px;

    &:hover {
      background: $color-white;
      border: 1px solid $color-primary;

      .button-primary__button-text {
        color: $color-primary;
      }
    }
  }

  &__button-text {
    font-size: $base-font-size;
    color: $color-white;
  }
}
