@use '../foundation/' as *;

.button-normal {
  // .button-normal__button

  &__button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 23px 8px;
    background: $color-white;
    border: 1px solid #c3c3c3;
    border-radius: 50px;
    transition: all 0.3s;

    &:hover {
      background: #f5f7f9;
      border: 1px solid #c3c3c3;

      .button-normal__button-text {
        color: $color-text;
      }
    }
  }

  // .button-normal__button-text

  &__button-text {
    font-size: $base-font-size;
    color: $color-text;
  }
}

.small-button {
  // .small-button__link

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: white;
    border: 1px solid $color-primary;
    border-radius: 999px;
  }

  // .small-button__label

  &__label {
    &::after {
      display: inline-block;
      padding-top: 1px;
      padding-left: 1px;
      vertical-align: middle;
      content: url('/assets/images/common/icon-logout.svg');
    }
  }
}

// ボタン
.button-general {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: $color-white;
  border: 1px solid $color-key;
  border-radius: 50px;

  &.is-expensive-button {
    padding: 16px;
  }

  &::after {
    position: absolute;
    right: 16px;
    box-sizing: border-box;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 1;
    color: $color-key;
    content: '';
    border: 0.1em solid currentcolor;
    border-bottom: 0;
    border-left: 0;
    transform: translateX(-25%) rotate(45deg);
    transition: all 0.3s;
  }

  &:hover {
    background: $color-primary;
    border: 1px solid $color-primary;

    &::after {
      right: 12px;
    }

    .button-general__icon {
      fill: $color-white;
    }

    .button-general__text {
      color: $color-white;
    }
  }

  // .button-general__icon
  &__icon {
    width: 20px;
    height: auto;
    fill: $color-primary;
  }

  // .button-movie-text
  &__text {
    font-size: 15px;
  }
}
