@use '../foundation/variables' as *;
@use '../foundation/breakpoints' as *;

.button-secondary {
  // .button-secondary__button

  &__button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 19px 8px;
    background: $color-white;
    border: 1px solid $color-key;
    border-radius: 50px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__button-text {
    font-size: $base-font-size;
    color: $color-text;
  }
}
