@use '../foundation' as *;

// ========================================
// テキストフィールド
// ========================================
.text-fiedl {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;

  // .text-fiedl__label

  &__label {
    font-size: $base-font-size;
  }

  // .text-fiedl__input

  &__input {
    box-sizing: border-box;
    padding: 24px;
    font-size: $base-font-size;
    color: $color-text;
    border: 1px solid #eaeaea;

    &::placeholder {
      font-size: $base-font-size;
      color: #c3c3c3;

      @include font-futura;
    }

    &:focus {
      border-color: $color-primary;
    }
  }
}

// ========================================
// パスワード入力フィールド
// ========================================
.password-field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;

  // .password-field__label

  &__label {
    font-size: $base-font-size;
  }

  // .password-field__inner
  &__inner {
    position: relative;
  }

  // .fpassword-field__input

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    font-size: $base-font-size;
    color: $color-text;
    border: 1px solid #eaeaea;
    &::placeholder {
      font-size: $base-font-size;
      color: #c3c3c3;

      @include font-futura;
    }

    &:focus {
      border-color: $color-primary;
    }
  }

  // .password-field__switch
  &__switch {
    position: absolute;
    top: 20px;
    right: 20px;

    img {
      width: 40px;
    }
  }

  // .password-field__conditions
  &__conditions {
    padding: 0;
    margin: 8px 0;
    font-size: 14px;
  }
}

.js-password-container {
  // js-password-container
}
.js-password-input {
  // js-password-input
}
.js-password-toggle {
  // js-password-toggle
}

// ========================================
// ラジオボタン
// ========================================
.radio-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;

  // .radio-group__label

  &__label {
    font-size: $base-font-size;
  }

  // .radio-group__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      flex-direction: row;
    }
  }

  // .radio-group__item

  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

// ========================================
// 入力エラー時
// ========================================
.error {
  display: none;
}

.is-error-message {
  display: block;

  .error-message {
    padding: 8px;
    background: #ff4d55;
    border-radius: 4px;

    &__text {
      padding: 0;
      margin: 0;
      font-size: 13px;
      color: $color-white;
    }
  }
}
.is-error {
  border: 1px solid #ff4d55;
}

// ========================================
// 必死アイコン
// ========================================

.is-required {
  position: relative;
  &::after {
    position: absolute;
    top: 3px;
    width: 27px;
    padding: 0 4px;
    margin-left: 8px;
    font-size: 13px;
    color: $color-white;
    content: '必須';
    background: #ff4d55;
    border-radius: 4px;
  }
}

// ========================================
// アンケートエリア
// ========================================

// アンケートアコーディオン
.accordion {
  background: #f4f4f4;

  // border-top: 1px solid #ddd;

  &__summary {
    position: relative;
    padding: 16px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
  }

  &__summary::-webkit-details-marker {
    display: none;
  }

  &__summary::after {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    content: '';
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    transform: rotate(135deg);
  }

  &[open] &__summary::after {
    transform: rotate(-45deg);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 16px 20px 24px;
    background: #fbfafa;
  }
}
.questionnaire-field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;

  // .questionnaire-field__label

  &__label {
    font-size: $base-font-size;
  }

  // .questionnaire-field__select

  &__select {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 24px;
    font-size: $base-font-size;
    color: $color-text;
    background: $color-white;
    border: 1px solid #eaeaea;
  }

  // .questionnaire-field__other

  &__other {
    padding: 8px;
  }

  // .questionnaire-field__textarea

  &__textarea {
    resize: vertical; // 横伸び防止
  }
}

// 条件分岐で非表示切り替えのためhiddenインポータント
[hidden] {
  display: none !important;
}

// ========================================
// 確認画面
// ========================================
.confirm {
  // .confirm__list

  &__list {
  }

  // .confirm__item

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    &:not(:last-of-type) {
      margin-bottom: 48px;
    }
  }

  // .confirm__item-label

  &__item-label {
  }

  // .confirm__item-value

  &__item-value {
    padding: 0 24px;
    margin: 0;
  }
}
