@use '../foundation' as *;

// ========================================
// H1タイトルエリア
// ========================================

// パンクズと見出しレイアウト
.page-heading {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @include container;

  // .page-heading__title

  &__title {
    // .page-heading__title
  }

  // .page-heading__breadcrumbs

  &__breadcrumbs {
    // .page-heading__breadcrumbs
  }
}

.page-title-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  // .page-title-main__design
  &__design {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    color: $color-primary;

    &::before {
      display: block;
      width: 13px;
      height: 13px;
      content: '';
      background-color: #c8952a; /* オレンジ */
      border-radius: 50%;
    }

    @include font-futura;
  }

  // .heading-my-page__text

  &__text {
    font-size: rem(28);
    font-weight: bold;

    // 英語フォントの時
    &.is-english {
      // color: red;
    }

    @include mq(desktop) {
      font-size: rem(38);
    }
  }
}

// ========================================
// H2タイトルエリア
// ========================================
.page-title-small {
  font-size: 21px;
  font-weight: bold;

  @include mq(tablet) {
    font-size: 24px;
  }
}

// ========================================
// 単一コンテンツ画面用見出し
// （例　ログイン、完了画面、購読完了画面、etc
// ========================================
.page-title {
  // .heading-my-page__text

  &__text {
    font-size: rem(24);
    font-weight: bold;

    // 英語フォントの時
    &.is-english {
      // color: red;
    }

    @include mq(desktop) {
      font-size: 30px;
    }
  }
}

// パンクズと見出しレイアウト
.auth-page-heading {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @include container;

  // .page-heading__title

  &__title {
    // .page-heading__title
  }

  // .page-heading__breadcrumbs

  &__breadcrumbs {
    // .page-heading__breadcrumbs
  }
}
