.lang-switcher {
  // position: relative;

  // .lang-switcher__panel
  &__panel {
    position: absolute;

    // top: calc(100% + 8px);
    // right: 0;
    display: none;
    visibility: hidden;

    // width: 240px;
    // padding: 16px;
    // background: #fff;
    // border-radius: 16px;
    // box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
    // opacity: 0;
    // transform: translateY(8px);
    // transition: 0.2s;

    &.is-open {
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  // .lang-switcher__select
  &__select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #3b4043;
    background: #fff;
    border: 1px solid #eaeaea;
  }

  // .lang-switcher__apply
  &__apply {
    height: 40px;
    margin-top: 16px;
  }
}

// .lang-switcher.is-open .lang-switcher__panel {
//   visibility: visible;
//   opacity: 1;
//   transform: translateY(0);
// }
