@use '../foundation' as *;

.tab {
  padding: 0 16px;
  margin-inline: calc(50% - 50vw);
  overflow: auto hidden;
  scrollbar-width: none;

  @include mq(tablet) {
    padding: 0;
    margin: 0;
  }

  // .tab__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: center;
    min-width: 700px;
    padding: 8px 16px;
    margin: 0;
    background: $color-white;
    border-radius: 50px;

    &.bg-blue {
      background: #f5f7f9;
    }
  }

  // .tab__item
  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // .tab__link
  &__link {
    display: block;
    padding: 12px 8px;
    color: $color-text;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;

    &:hover {
      color: $color-white;
    }

    // =====================
    // 徳島
    // =====================
    &.is-tokushima {
      &:hover,
      &.is-active {
        color: $color-white;
        background: $color-tokushima;
      }
    }

    // =====================
    // 高知
    // =====================
    &.is-kochi {
      &:hover,
      &.is-active {
        color: $color-white;
        background: $color-kochi;
      }
    }

    // =====================
    // 愛媛
    // =====================
    &.is-ehime {
      &:hover,
      &.is-active {
        color: $color-white;
        background: $color-ehime;
      }
    }

    // =====================
    // 香川
    // =====================
    &.is-kagawa {
      &:hover,
      &.is-active {
        color: $color-white;
        background: $color-kagawa;
      }
    }
  }
}

// .my-page-favorite__tab-panel
.tab-panel {
  display: none;

  &.is-active {
    display: block;
  }
}
