---
lang: en
layout: _layout/_base.njk
headerType: user
title: English My-Page
description: My-Page
url: https://ohenro.online/en/my-page/
---

{# ヘッダーの読み込み #}
<section class="hero">
  <h1>My-Page</h1>
  <p>Welcome to the pilgrimage</p>
</section>
