---
lang: en
layout: _layout/_base.njk
headerType: my-page
footerType: user
title: マイページ
description: マイページ
url: https://ohenro.online/en/my-page/
---
{% import "_components/_page-title.njk" as title %}
{% import "_components/_breadcrumbs.njk" as breadcrumbs %}
<section>
	<div class="auth-page-heading">
		<div class="auth-page-heading__title">
			<span>{{ title.pageTitle("英語") }}</span>
		</div>
		<div class="auth-page-heading__breadcrumbs">
			{{breadcrumbs.breadcrumbs("英語", "en")}}
		</div>
	</div>
</section>