---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: ログイン
description: ログイン
url: https://ohenro.online/ja/login/
---
{% import "_components/_page-title.njk" as title %}
{% import "_components/_form/_form-field-text.njk" as forms %}
{% import "_components/_form/_form-field-password.njk" as passForms %}
{% import "_components/_button-big.njk" as buttons %}
{% import "_components/_button-secondary.njk" as buttonSecondary %}
<section class="login">
  <div class="login__inner">
    <div class="login__title">
      {{title.pageTitle("Sign Up", "is-english")}}
    </div>
    <form class="login__form">
      {# メールアドレス #}
      {{ forms.formInput("メールアドレス", "email", "Your Email", "text", true, true) }}
      
      {# パスワード #}
      {{ passForms.passwordField("パスワード", "password", "Password", "text", true, true) }}
      <p class="login__forget">
        <a class="login__forget-link" href="/ja/password-reset/">パスワードを忘れた場合</a>
      </p>

      <div class="login__button-primary">
        {{ buttons.primaryButton("ログイン", "submit", "/my-page/") }}
      </div>

      <hr class="login__border" /> 

      <div class="login__button-secondary">
        {{ buttonSecondary.secondaryButton("新規会員登録", "link", "/" + lang + "/signup/") }}
      </div>
    </form>
  </div>
</section>
