---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: ログイン
description: ログイン
url: https://ohenro.online/ja/login/
---
<section class="login">
  <div class="login__inner">
    <div class="login__title">
      <h2 class="login__title-text">Sign Up</h2>
    </div>

    {% import "_components/_form/_form-field-text.njk" as forms %}
    {% import "_components/_form/_form-field-password.njk" as passForms %}
    {% import "_components/_button-big.njk" as buttons %}
    {% import "_components/_button-secondary.njk" as buttonSecondary %}
    <form class="login__form">
      {# メールアドレス #}
      {{ forms.formInput("メールアドレス", "email", "Your Email") }}
      
      {# パスワード #}
      {{ passForms.passwordField("パスワード", "password", "Password") }}
      <p class="login__forget">
        <a class="login__forget-link" href="/ja/resetting/">パスワードを忘れた場合</a>
      </p>

      <div class="login__button-primary">
        {{ buttons.primaryButton("ログイン", "submit", "/my-page/") }}
      </div>

      <hr class="login__border" /> 

      <div class="login__button-secondary">
        {{ buttonSecondary.secondaryButton("新規会員登録", "link", "/" + lang + "/signup/") }}
      </div>
    </form>
  </div>
</section>
