@use '../foundation' as *;
@use '../components' as *;

.login {
  height: 82vh;
  padding: rem(78) 16px rem(24);
  background: url('/assets/images/common/login/login-background.webp') center / cover no-repeat;

  @include mq(desktop) {
    padding: rem(156) 16px rem(48);
  }

  // .login__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
    padding: 27px 16px 44px;
    margin: 0 auto;
    background: rgb(255 255 255 / 70%);
    border-radius: 10px;

    @include mq(desktop) {
      max-width: 760px;
      padding: 54px 85px 88px;
    }
  }

  // .login__title
  &__title {
    font-size: 30px;
    color: $color-text;
  }

  // .login__form
  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
  }

  // .login__form-forget
  &__forget {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: -16px;

    // .login__forget-link
    &-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .login__button-primary
  &__button-primary {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }

  // .login__border
  &__border {
    // border: 1px solid $color-text;
  }

  // .login__button-secondary
  &__button-secondary {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
  }
}
