@use '../foundation' as *;

.my-page {
  // .my-paege__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0 auto;

    @include mq(tablet) {
      grid-template-columns: clamp(240px, 30%, 340px) 1fr;
      gap: rem(40);
      align-items: start;
      max-width: 1160px;
    }
  }

  // .my-page__contet
  &__contet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  // .my-page__news

  &__news {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  // .my-page__news-list

  &__news-list {
  }

  // .my-page__member

  &__member {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    hr {
      margin-bottom: 32px;
    }
  }

  // .my-page__member-inner

  &__member-inner {
    padding: 16px;
    background: $color-white;
    border-radius: 5px;
  }

  // .my-page__favorite
  &__favorite {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  // .my-page__history
  &__history {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    // .my-page__history-button
    &-button {
      padding: 16px;
      background: $color-white;
      border-radius: 5px;

      // .my-page__history-button-inner
      &-inner {
        max-width: 340px;
        margin: 0 auto;
      }
    }
  }
}

// ========================================
// お知らせ
// ========================================
.news {
  // .my-page-news__list

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0;
    margin: 0;

    @include mq(tablet) {
      gap: 24px;
    }
  }

  // .my-page-news__item

  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  // .my-page-news__link
  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: $color-white;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
      background: #f2e4ca;

      .news__date::after {
        right: 10px;
      }
    }
  }

  // .my-page-news__date

  &__date {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: $color-primary;

    &::after {
      position: absolute;
      top: 5px;
      right: 14px;
      box-sizing: border-box;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: auto;
      line-height: 1;
      vertical-align: middle;
      color: $color-key;
      content: '';
      border: 0.1em solid currentcolor;
      border-bottom: 0;
      border-left: 0;
      transform: translateX(-25%) rotate(45deg);
      transition: all 0.3s;
    }
  }

  // .my-page-news__text

  &__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: $color-text;
  }
}

// ========================================
// 会員情報
// ========================================

.member {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  // .member__label

  &__label {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #c3c3c3;
  }

  // .member__value

  &__value {
    padding: 0;
    margin: 0;
    font-size: 16px;

    &:not(:last-of-type) {
      padding-bottom: 40px;
    }
  }

  // .member__edit

  &__edit {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
  }

  // .member__subscription

  &__subscription {
  }

  // .member__withdrawal

  &__withdrawal {
    // .member__withdrawal-link
    &-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: $color-white;
  border: 1px solid $color-key;
  border-radius: 50px;
  transition: all 0.3s;

  &:hover {
    background: $color-key;

    svg {
      fill: white;
    }

    .button-text {
      color: $color-white;
    }
  }

  // .button__text

  &__text {
  }
}

// ========================================
// お気入り
// ========================================
.favorite {
  padding: 16px;
  background: $color-white;
  border-radius: 5px;

  // .favorite__list

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    margin: 0;
    background: #f5f7f9;
    border-radius: 8px;

    @include mq(desktop) {
      grid-template-columns: repeat(4, 1fr);
      border-radius: 50px;
    }
  }

  // .favorite__item

  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  // .favorite__link

  &__link {
    display: block;
    padding: 8px;
    color: $color-text;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s;

    &:hover {
      color: $color-white;
    }

    &.is-tokushima {
      &:hover {
        background: $color-tokushima;
      }
    }
    &.is-kochi {
      &:hover {
        background: $color-kochi;
      }
    }
    &.is-aichi {
      &:hover {
        background: $color-aichi;
      }
    }
    &.is-kagawa {
      &:hover {
        background: $color-kagawa;
      }
    }
  }
}
