@use '../foundation' as *;

.temple {
  // .temple__main-visual

  &__main-visual {
    margin-bottom: 0;
  }

  // .temple__favorite

  &__favorite {
  }

  // .temple__about

  &__about {
  }

  // .temple__movie

  &__movie {
  }

  // .temple__infomation

  &__infomation {
  }

  // .temple__interview

  &__interview {
  }

  // .temple__next

  &__next {
  }
}

// ========================================
// About
// ========================================

.about {
  // .about__wrapper
  &__wrapper {
    position: relative;
    background: #f5f7f9;

    &::before {
      position: absolute;
      top: -10px;
      left: -32px;
      width: 296px;
      height: 152px;
      pointer-events: none;
      content: '';
      background: url('/assets/images/common/cloud-bg.png') no-repeat right top;
      background-size: contain;
    }
  }

  // .about__temple-bg
  &__temple-bg {
    position: relative;
    right: -15px;
    width: 160px;
    padding: 0;
    margin: 0 0 0 auto;

    @include mq(desktop) {
      top: 90px;
      right: -130px;
      width: 247px;
      margin: -100px 0 0 auto;
    }
  }

  // .about__inner
  &__inner {
    @include container;

    position: relative;
    z-index: 2;
    padding: 32px 16px;
    margin-bottom: 0;

    @include mq(desktop) {
      padding: 64px 16px 32px;
      padding-bottom: 64px;
    }
  }

  // .about__title

  &__title {
  }

  // .about__description

  &__description {
    // .about__description-text

    &-text {
      padding: 0;
      margin: 0;
      font-size: 14px;

      @include mq(desktop) {
        font-size: 16px;
      }
    }
  }

  // .about__list

  &__list {
    padding: 0 0 40px;
    margin: 0;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 80px;
      padding-bottom: 80px;
    }
  }

  // .about__item

  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &:first-of-type {
      dl {
        padding-top: 0;

        @include mq(desktop) {
          padding-top: 16px;
        }
      }
    }

    // .about__item-inner

    &-inner {
      display: grid;
      grid-template-columns: auto auto;
      gap: 16px;
      align-items: center;
      justify-content: start;
      padding: 16px 0;
      margin: 0;
      border-bottom: 1px solid $color-key;
    }
  }

  // .about__label

  &__label {
    padding: 0 0 0 16px;
    margin: 0;
    font-size: 16px;
    color: $color-key;

    @include mq(desktop) {
      padding: 0 0 0 32px;
      font-size: 18px;
    }
  }

  // .about__text

  &__text {
    padding: 0;
    margin: 0;
    font-size: 14px;

    @include mq(desktop) {
      font-size: 16px;
    }
  }

  // .about__yohanesu

  &__yohanesu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 24px;
    overflow: hidden;
    background: $color-white;
    border-radius: 10px;

    @include mq(desktop) {
      padding: 40px 64px;
    }

    &::before {
      position: absolute;
      top: -11px;
      left: -81px;
      width: 146px;
      height: 56px;
      pointer-events: none;
      content: '';
      background: url('/assets/images/icons/icon-double-quotation.svg') no-repeat right top;
      background-size: contain;

      @include mq(desktop) {
        top: -11px;
        left: -94px;
        width: 204px;
        height: 86px;
      }
    }

    &::after {
      position: absolute;
      right: -81px;
      bottom: -11px;
      width: 146px;
      height: 56px;
      pointer-events: none;
      content: '';
      background: url('/assets/images/icons/icon-double-quotation.svg') no-repeat right top;
      background-size: contain;
      transform: rotate(180deg);

      @include mq(desktop) {
        right: -116px;
        bottom: -32px;
        width: 204px;
        height: 86px;
      }
    }

    // .about__yohanesu-comment
    &-comment {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    // .about__yohanesu-title

    &-title {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
    }

    // .about__yohanesu-description

    &-description {
      padding: 0;
      margin: 0;
      font-size: 14px;

      @include mq(desktop) {
        font-size: 16px;
      }
    }

    // .about__yohanesu-info

    &-info {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 24px;
      background: none;
      border-top: 1px solid $color-key;

      @include mq(desktop) {
        padding: 24px 32px;
        background: $color-white;
        border: 1px solid $color-key;
        border-radius: 10px;
      }
    }

    // .about__yohanesu-info-title

    &-info-title {
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      color: $color-key;
    }

    // .about__yohanesu-info-description

    &-info-description {
      padding: 0;
      margin: 0;
      font-size: 14px;

      @include mq(desktop) {
        font-size: 16px;
      }
    }
  }
}

// ========================================
// 動画を見る
// ========================================

.movie {
  position: relative;

  // .movie__figure
  &__figure {
    padding: 0;
    margin: 0;
  }

  // .movie__image
  &__image {
    width: 100%;
    height: 400px;
    aspect-ratio: 4/3;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: center;

    @include mq(desktop) {
      height: 300px;
    }
  }

  // .movie__inner

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 95%;
    height: 80%;
    background: rgb(255 255 255 / 60%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transform: translate(-50%, -50%);

    @include mq(desktop) {
      max-width: 1200px;
    }
  }

  // .movie__heading

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    // .movie__heading-text

    &-text {
      padding: 0;
      margin: 0;
    }
  }

  // .movie__buttons-list

  &__buttons-list {
    width: 100%;
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  // .movie__buttons-item

  &__buttons-item {
    padding: 0 24px;
    margin: 0;
    list-style-type: none;

    @include mq(desktop) {
      width: 267px;
    }

    &:first-of-type {
      padding-bottom: 16px;
    }
  }
}

// ========================================
// 基本情報
// ========================================

.information {
  @include container;

  // .information__heading

  &__heading {
  }

  // .information__list

  &__list {
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 80px;
      padding-bottom: 80px;
    }
  }

  // .information__item

  &__item {
    padding: 16px 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid $color-key;
  }

  // .information__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    @include mq(desktop) {
      grid-template-columns: auto auto;
      gap: 16px;
      align-items: center;
      justify-content: start;
      margin: 0;
    }
  }

  // .information__label

  &__label {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 16px;
    margin: 0;
    font-size: 16px;
    color: $color-key;

    @include mq(desktop) {
      padding: 0 0 0 32px;
      font-size: 18px;
    }
  }

  // .information__description

  &__description {
    padding: 0 0 0 16px;
    margin: 0;
    font-size: 14px;

    @include mq(desktop) {
      font-size: 16px;
    }
  }

  // .information__map

  &__map {
    position: relative;
    width: 100%;
    aspect-ratio: 75 / 59;

    @include mq(desktop) {
      aspect-ratio: 16 / 7;
    }

    iframe {
      inset: 0;
      width: 100vw;
      height: 100%;
      margin: 0 calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      border: 0;
    }
  }

  // .information__stay

  &__stay {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    // .information__stay-list

    &-list {
      padding: 0;
      margin: 0;
    }

    // .information__stay-item

    &-item {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    // .information__stay-image

    &-image {
    }
  }
}

// ========================================
// 旅館インタビュー
// ========================================

.interview {
  // .interview__title-design

  &__title-design {
  }

  // .interview__wrapper
  &__wrapper {
    position: relative;
    overflow: hidden;
    background: #f5f7f9;

    &::before {
      position: absolute;
      top: -11px;
      right: -48px;
      width: 272px;
      height: 169px;
      pointer-events: none;
      content: '';
      background: url('/assets/images/common/flower-bg.svg') no-repeat right top;
      background-size: contain;

      @include mq(desktop) {
        top: -11px;
        right: -54px;
        width: 329px;
        height: 243px;
      }
    }

    &::after {
      position: absolute;
      bottom: -28px;
      left: -48px;
      width: 272px;
      height: 169px;
      pointer-events: none;
      content: '';
      background: url('/assets/images/common/flower-white-bg.svg') no-repeat right top;
      background-size: contain;

      @include mq(desktop) {
        right: -116px;
        bottom: -48px;
        width: 329px;
        height: 243px;
      }
    }
  }

  // .interview__inner
  &__inner {
    @include container;

    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  // .interview__title

  &__title {
    display: flex;
    flex-direction: column;
    gap: 14px;

    // .interview__title-text

    &-text {
    }

    // .interview__title-description
    &-description {
      padding: 0;
      margin: 0;
    }
  }

  // .interview__list

  &__list {
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }
  }

  // .interview__link
  &__link {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    &:hover {
      .interview__image {
        transform: scale(1.1);
      }
    }
  }

  // .interview__item

  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &:not(:last-of-type) {
      margin-bottom: 48px;
    }
  }

  // .interview__figure

  &__figure {
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  // .interview__image

  &__image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }

  // .interview__inn

  &__inn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $color-text;

    // .interview__inn-description
    &-description {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
  }
}

// ========================================
// 次の札所
// ========================================
.next {
  padding: 0 16px;
  margin: 0 auto;

  @include mq(desktop) {
    max-width: 1000px;
  }

  // .next__link
  &__link {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 32px 16px;
    color: $color-text;
    border: 1px solid $color-key;
    border-radius: 5px;

    @include mq(desktop) {
      grid-template-columns: auto 360px;
      align-items: center;
      justify-content: space-around;
      padding: 16px;

      &::after {
        position: absolute;
        right: 16px;
        box-sizing: border-box;
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 1;
        color: #d3992c;
        content: '';
        border: 0.1em solid currentcolor;
        border-bottom: 0;
        border-left: 0;
        transform: translateX(-25%) rotate(45deg);
        transition: all 0.3s;
      }
    }

    &:hover {
      &::after {
        right: 10px;
      }

      .next__temple-description-image {
        transform: scale(1.1);
      }
    }
  }

  // .next__list

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  // .next__temple

  &__temple {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      display: block;
    }

    // .next__temple-information
    &-information {
      display: flex;
      flex-direction: row;
      gap: 16px;

      img {
        max-width: 30px;
      }
    }

    // .next__temple-next

    &-next {
      font-size: 15px;
    }

    // .next__temple-name

    &-name {
      font-size: 28px;
    }

    // .next__temple-description

    &-description {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
      margin: 0;

      // .next__temple-description-text
      &-text {
        font-size: 15px;
      }

      // .next__temple-description-figure
      &-figure {
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
      }

      // .next__temple-description-image
      &-image {
        transition: transform 0.5s ease;
      }
    }
  }
}
