---
lang: ja
layout: _layout/_base.njk
headerType: auth
footerType: user
title: 新規登録
description: 新規登録
url: https://ohenro.online/ja/resetting/
---
<section class="resetting">
  {% import "_components/_auth-title.njk" as title %}
  {% import "_components/_form/_form-field-text.njk" as forms %}
  {% import "_components/_button-big.njk" as primary %}
  {% import "_components/_button-normal.njk" as normal %}
  <div class="auth-completion">
    <div class="auth-completion__inner">
      <div class="auth-completion__title">
        {{title.authTitle("パスワード再発行")}}
        <p class="auth-completion__title-description">パスワードを再設定するためのURLをメールで送信します。<br />ご登録のメールアドレスをご入力ください</p>
      </div>
      <form class="auth-completion__form">
        {# メールアドレス #}
				{{ forms.formInput("メールアドレス", "email", "Your Email", "text", "", true) }}
        <div class="auth-completion__buttons">
        {{ normal.normalButton("キャンセル", "link", "/" + lang + "/login/") }}
        {{ primary.primaryButton("送信", "submit", "/my-page/") }}
        
      </div>
      </form>
    </div>
  </div>
</section>
