{% set lang = lang or "ja" %}
{% set t = locate[lang] %}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    
    <meta charset="UTF-8" />

    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title / description -->
    <title>{{ title }} ｜ ohenro.online</title>
    <meta name="description" content="{{ description }}" />

    <!-- OGP -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ ogImage }}" />

    <!-- favicon,apple-touch-icon -->
    <link rel="icon" href="/assets/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- JS -->
    <script src="/assets/js/common.js" defer></script>
    <script src="/assets/js/survey.js" defer></script>
    
    <!-- /es,de,fr,it の時のみタグを出力 -->
    {% if lang == "en" %}
    <script src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
      Weglot.initialize({
        api_key: "wg_538b4c07bac9a637bca794a5c27c2f710"
      });
    </script>
    {% endif %}
  </head>
  <body>
    {% if headerType == "my-page" %}
    {% include "_layout/_header/_header-my-page.njk" %}
    {% elseif headerType == "auth" %}
    {% include "_layout/_header/_header-auth.njk" %}
    {% else %}
      {% include "_layout/_header/_header-public.njk" %}
    {% endif %}

    <main>
      {{ content | safe }}
    </main>

    {% if footerType == "user" %}
    {% include "_layout/_footer/_footer-user.njk" %}
    {% else %}
      {% include "_layout/_footer/_footer-user.njk" %}
    {% endif %}

  </body>
</html>
