@use '../foundation' as *;

.footer {
  padding: 15px;
  background: #463437;

  &__inner {
    @include container;
  }

  &__copy {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: $color-white;
  }
}
