@use '../foundation/mixin' as *;
@use '../foundation/variables' as *;
@use '../foundation/breakpoints' as *;

.footer {
  padding: rem(40) 0;
  font-size: rem(14);
  background: #f5f5f5;

  &__inner {
    @include container;
  }

  &__copy {
    padding: 0;
    margin: 0;
    text-align: center;
    
  }
}
