@use '../foundation/mixin' as *;
@use '../foundation/variables' as *;
@use '../foundation/breakpoints' as *;

.header {
  color: #fff;
  background: $color-primary;

  &__inner {
    justify-content: space-between;
    padding: rem(16) 0;
    

    @include container;
    @include flex-center;
  }

  &__logo {
    @include fluid(18, 24);

    font-weight: bold;
  }

  &__nav {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }

  &__list {
    display: flex;
    gap: rem(24);
  }
}
