@use '../foundation/' as *;

// ========================================
// 会員情報登録、確認画面
// ========================================
.my-page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 16px;
  background: $color-white;
  transition: transform 0.25s ease;

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-shadow {
    border-radius: 0;
    box-shadow: 0 6px 13px -12px #777;
  }

  @include mq(desktop) {
    padding: 18px 24px;
  }

  // .my-page-header__logo

  &__logo {
    // .my-page-header__logo-image
  }

  // .my-page-header__logo-figure

  &__logo-figure {
    max-width: 130px;
    padding: 0;
    margin: 0;

    @include mq(desktop) {
      max-width: 180px;
    }
  }

  // .my-page-header__logo-image

  &__logo-image {
    // .my-page-header__logo-image
  }

  // .my-page-header__nav

  &__nav {
    // .my-page-header__nav-link
    &-link {
      position: relative;
      display: inline-block;
      text-decoration: none;

      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background: $color-key;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      &:hover {
        &::after {
          transform: scale(1, 1);
        }
      }
    }

    // .my-page-header__nav-desktop
    &-desktop {
      display: none;

      @include mq(tablet) {
        display: block;
      }
    }

    // .my-page-header__nav-mobile
    &-mobile {
      display: block;

      @include mq(tablet) {
        display: none;
      }
    }
  }
}
