@use '../foundation/mixin' as *;
@use '../foundation/variables' as *;
@use '../foundation/breakpoints' as *;

.my-page-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 40px;

  // .my-page-header__logo

  &__logo {
    // .my-page-header__logo-image
  }

  // .my-page-header__logo-figure

  &__logo-figure {
    max-width: 180px;
    padding: 0;
    margin: 0;
  }

  // .my-page-header__logo-image

  &__logo-image {
    // .my-page-header__logo-image
  }

  // .my-page-header__nav

  &__nav {
    // .my-page-header__nav
  }

  // .my-page-header__nav-list

  &__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  // .my-page-header__nav-item

  &__nav-item {
    padding: 0 16px;
    color: $color-primary;
    list-style-type: none;

    @include mq(tablet) {
      &:not(:last-of-type) {
        border-right: 1px solid #5d5d5d;
      }
    }
  }

  // .my-page-header__nav-link
  &__nav-link {
    display: flex;
    gap: 8px;
    font-size: fluid(13, 15);
  }
}

// .header {
//   color: #fff;
//   background: $color-primary;

//   &__inner {
//     justify-content: space-between;
//     padding: rem(16) 0;

//     @include container;
//     @include flex-center;
//   }

//   &__logo {
//     @include fluid(18, 24);

//     font-weight: bold;
//   }

//   &__nav {
//     display: none;

//     @include mq(tablet) {
//       display: block;
//     }
//   }

//   &__list {
//     display: flex;
//     gap: rem(24);
//   }
// }
