{% macro breadcrumbs(items, lang) %}
<div class="breadcrumbs">
  <nav class="breadcrumbs__list">
    <a class="breadcrumbs__link" href="/{{ lang }}/">HOME</a>
    {% for item in items %}
      <span class="breadcrumbs__arrow">&nbsp; &gt; &nbsp;</span>
      {% if item.url %}
        <a class="breadcrumbs__link" href="/{{ lang }}{{ item.url }}/">{{ item.label }}</a>
      {% else %}
        <span class="breadcrumbs__text">{{ item.label }}</span>
      {% endif %}
    {% endfor %}
  </nav>
</div>
{% endmacro %}
