{% macro LangSwitcher(lang, t, url='', modifier="") %}
<div class="lang-switcher js-lang {% if modifier %}lang-switcher--{{ modifier }}{% endif %}">
  <button class="lang-switcher__toggle js-lang-toggle">
    <img src="/assets/images/icons/icon-language.svg" alt="Language" />
    {{ t.language[lang] }}
  </button>

  <div class="lang-switcher__panel js-lang-panel">
    <ul class="lang-switcher__list">
      {% for code, label in t.language %}
        <li class="lang-switcher__item">
          <a
          class="lang-switcher__link"
            href="/{{ code }}{{ url }}"
            class="lang-switcher__link {% if lang == code %}is-current{% endif %}"
            lang="{{ code }}"
          >
            {{ label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}