{% macro mainVisual(src, alt="", top=false) %}
<div class="main-visual">
  <figure class="main-visual__figure">
    <img class="main-visual__image {% if top %}is-top{% endif %}" src="{{ src }}" alt="{{ alt }}" />
  </figure>
</div>
{% endmacro %}