{% macro pageTitle(title, className="", designTitle="") %}
<h1 class="page-title-main">
  {% if designTitle %}
  <span class="page-title-main__design {{ className }}">{{ designTitle }}</span>
  {% endif %}
	<span class="page-title-main__text {{ className }}">{{ title }}</span>
</h1>
{% endmacro %}