{% macro templeCard(cardClass="") %}
{% import "_components/_button-general.njk" as button %}
<div class="temple-card">
  <div class="temple-card__prefecture {{ cardClass }}">
    <span class="temple-card__prefecture-text">徳島県</span>
  </div>

  <div class="temple-card__inner">
    <button class="temple-card__favorite js-favorite" href="/">
      <svg class="temple-card__favorite-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.148 18.755">
        <path d="M22.639.021A4.844,4.844,0,0,0,17.453,3.74c-.5-2.825-3.42-3.905-5.181-3.719C10.119.251,7.276,1.2,8,5.615s9.5,11.974,9.5,11.974,8.7-7.559,9.419-11.974S24.793.251,22.639.021" transform="translate(-7.381 0.505)" />
      </svg>
    </button>
    <a class="temple-card__link" href="/">
      <figure class="temple-card__figure">
        <img class="temple-card__image" src="/assets/images/temple/temple-01.jpg" alt="竺和山 霊山寺">
      </figure>
      <h3 class="temple-card__name">
        <span class="temple-card__number">第88番</span>
        <span class="temple-card__label">
          <ruby class="ruby-under">竺和山　霊山寺<rt>じくわざん　りょうぜんじ</rt></ruby>
        </span>
      </h3>
    </a>
  </div>

  <div class="temple-card__buttons">
    <ul class="temple-card__buttons-list">
      <li class="temple-card__buttons-item">{{ button.generalButton("お寺Movie", "/ja", "movie") }}</li>
      <li class="temple-card__buttons-item">{{ button.generalButton("住職Movie", "/ja", "movie") }}</li>
    </ul>
  </div>
</div>
{% endmacro %}