{% macro templeCard(cardClass="") %}
{% import "_components/_button-general.njk" as button %}
<div class="temple-card">
  <div class="temple-card__prefecture {{ cardClass }}">
    <span class="temple-card__prefecture-text">徳島県</span>
  </div>

  <div class="temple-card__inner">
    {% include "_components/_button-favorite.njk" %}
    <a class="temple-card__link" href="/ja/temples/temple/">
      <figure class="temple-card__figure">
        <img class="temple-card__image" src="/assets/images/temple/temple-01.jpg" alt="竺和山 霊山寺">
      </figure>
      <h3 class="temple-card__name">
        <span class="temple-card__number">第88番</span>
        <span class="temple-card__label">
          <ruby class="ruby-under">竺和山 霊山寺</ruby>
        </span>
      </h3>
    </a>
  </div>

  <div class="temple-card__buttons">
    <ul class="temple-card__buttons-list">
      <li class="temple-card__buttons-item">{{ button.generalButton("お寺Movie", "/ja/temples/movie/", "movie") }}</li>
      <li class="temple-card__buttons-item">{{ button.generalButton("住職Movie", "/ja/temples/movie/", "movie") }}</li>
    </ul>
  </div>
</div>
{% endmacro %}